.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  header {
    width: 46.7em;
    display: flex;

    h3 {
      font-size: 25px;
    }
  }

  .validation-message {
    display: flex;
    color: #b70000;
    text-transform: capitalize;
    margin-top: 0.01em;
  }

  .label-and-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #80808045;
    border-radius: 12px;
    width: 47em;
    height: fit-content;
    padding: 1em 1em;

    p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0.5em 0.1em;
    }

    .css-1tcs2i1-MuiInputBase-root-MuiInput-root {
      width: 44em;
    }

    .css-u4tvz2-MuiFormLabel-root {
      display: flex;
      color: black;
      position: inherit;
    }

    .css-1tcs2i1-MuiInputBase-root-MuiInput-root:before {
      border: 1px solid #80808045;
      border-radius: 10px;
    }

    input {
      padding: 0px 14px;
      border: 1px solid #80808078;
      border-radius: 5px;
      width: 51em;
      height: 3em;
      font-size: 14px;
    }

    input::before {
      content: '';
      border-bottom: 0px;
    }

    .sign-up-button {
      display: flex;
      width: 46em;
      margin-top: 2em;
    }

    button {
      background-color: orange;
    }

    .css-1tcs2i1-MuiInputBase-root-MuiInput-root:after {
      border-bottom: 0px;
    }
  }
}

@media screen and (max-width: 820px) {
  .sign-up header {
    width: 27em;
  }

  .sign-up .registration-form {
    width: 30em;

    input {
      width: 29em;
    }

    .sign-up-button {
      width: 27em;
    }
  }
}

@media screen and (max-width: 533px) {
  .sign-up header {
    display: flex;
    width: fit-content;
  }

  .sign-up .registration-form .sign-up-button {
    display: block;
    width: fit-content;
  }

  .sign-up .registration-form {
    width: 20em;

    input {
      width: 18em;
    }
  }
}

@media screen and (max-width: 363px) {
  header {
    margin-top: 1em;
  }

  .sign-up .registration-form {
    width: 13em;
  }

  .sign-up .registration-form input {
    width: 13em;
  }
}