.all-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px #8080806b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position: sticky;
  width: 100%;
  background-color: white;
  top: 0;

  .right-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .default-style {
    color: black;
    text-decoration: none;
  }

  .non-active-link {
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .active-link {
    color: black;
    background-color: #8080802b;
    text-decoration: none;
  }

  .starter-store {
    padding: 20px;
  }

  .username-item {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .logout {
    padding: 20px;
  }

  .starter-store:focus {
    background-color: gray;
  }

  .one-of-items {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 0.2em;

    .img-cart {
      height: 1.2em;
    }
  }

  .one-of-items:hover,
  .one-of-items:focus {
    background-color: #8080802b;
    cursor: pointer;
  }

}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 155px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

@media screen and (min-width: 500px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .all-header {
    height: 0em;
  }

  .all-header .one-of-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 0.2em;
    font-size: 14px;
  }

  .all-header .right-items {
    display: none;
  }

  .starter-store-block {
    display: none;
  }

  .menu__box {
    width: 7em;
  }
}

@media screen and (max-width: 320px) {
  .map-cont .cont-for-img {
    width: 10em;
  }

  .starter-store-main .love-lamps {
    margin-top: 1.5em;
  }
}